@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0; left: 0;
  text-align: center;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 99;
}

.topnav {
  margin: 10;
  padding: 10;
  background-color: #161623;
  top: 0;
}

.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 150px;
}

.topnav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.topnav a.active {
  background-color: #a3bf45;
  color: white;
}

.topcontent {
    color: rgba(255, 255, 255, 1);
}

main {
  width: 90vw;
  margin-top: 60px; /* Add a top margin to avoid content overlay */
  margin-bottom: 50px;
  padding: 30px 20px;
  min-height: calc(100vh - 60px - 50px);
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #161623;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#d2e190, #617b30);
  clip-path: circle(30% at right 70%);
}

.offer {
  color: rgba(255, 255, 255, 0.5)
}

.delivery-zones {
  padding: 50px;
}

.delivery-zones video {
  width: 50%
}

.country-list {
  margin: 30px;
  float: right;
  width: 40%;
  border: 3px solid #73AD21;
  padding: 40px;
}

table, td, th {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

table {
  border-collapse: collapse;
  width: 1000px;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.loc-table {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 2200px;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 80px;
}

.loc-table td {
  padding: 18px;
  background: rgba(255, 255, 255, 0.1);
}

.loc-table tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.loc-table th {
  padding: 12px;
  text-align: center;
  background-color: #a3bf45;
  color: rgba(255, 255, 255, 1);
}

.stores-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.stores-container .store {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.stores-container img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   border-radius: 35px;
}

.stores-container .store .content {
  padding: 7px;
  text-align: center;
  transition: 0.5s;
}

.stores-container .store .content h3 {
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.stores-container .store .content p {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  font-weight: 300;
}

.stores-container .store .stores-button {
  display: flex;
  position: fixed;
  bottom: 50px;
  right: 77px;
}

.stores-container .store .stores-button a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  z-index: 1;
}

.container .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  justify-content: space-between;
  backdrop-filter: blur(5px);
}

.container .card .content {
  text-align: center;
  align-items: center;
  transition: 0.5s;
  flex-grow: 1;
}

.container .card .content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.container .card .content h3 {
  padding-top: 115px;
  font-size: 1.8em;
  color: #fff;
  z-index: 1;
}

.container .card .content p {
  font-size: 1em;
  padding: 15px;
  color: #fff;
  font-weight: 300;
}

.container .card .bottom-button {
  display: flex;
  position: fixed;
  bottom: 50px;
  right: 77px;
}

.container .card .bottom-button a {
  display: inline-block;
  padding: 8px 20px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.video-paste {
  width: 640;
  height: 360;
  position: relative;
}


.registration-form {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  align: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* Add padding to containers */
.registration-form .register-container {
  padding: 16px;
  align: center;
}

.registration-form .register-container h1 {
  color: rgba(255, 255, 255, 1);
}

/* Full-width input fields */
input[type=text], input[type=password], select {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  width: 100%;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registration-form label, p {
  color: rgba(255, 255, 255, 1);
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #617b30;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: 100%;
  border-radius: 25px;
  font-size: 20px;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
.registration-form a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.container-signin {
  text-align: center;
}


footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  bottom: 0;
  position: absolute;
  width: 100%;
}
